
:root{
  --serif: 'Merriweather', serif;
  --dark-gary: #343a3f;
  --light-blue: #effbff;
  --green-sp : #9fd86b;
  --primary-blue: #208870;
  --text-primary:#2d2d2d;
  --red: #db5461;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.login
{
  min-height: 100vh;
}
.login .card
{
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .1);
  border-radius: 6px;
}
.login .card h1
{
  font-size: 24px;
  color: var(--primary-blue);
  font-family: var(--serif);
  padding: 0;
  margin: 0 0 30px;
  text-align: center;
}
.login .card label
{
  font-size: 14px;
}
.login .card .form-control
{
  height: 44px;
  border-radius: 4px;
}

.btn-blue-o
{
  padding: 10px 20px;
  border-radius: 0;
  border: 2px solid var(--primary-blue);
  color: var(--text-primary);
  background-color: #fff;
  font-weight: 600;
}
.card-img-top {
  width: 200px!important;
  height: 200px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}